body{

background:
linear-gradient(
180deg,
#08142e,
#142850
);

color:white;

font-family:
sans-serif;

padding:20px;

}

header{
text-align:center;
}

.sub{
opacity:0.8;
}

.card{

background:
rgba(255,255,255,.1);

padding:24px;

border-radius:24px;

backdrop-filter:
blur(10px);

}

.item{
margin:12px 0;
}

button{

width:100%;

padding:16px;

background:#d8b56a;

border:none;

border-radius:12px;

margin-top:20px;

font-size:18px;

}

#result{

margin-top:20px;

font-size:22px;

text-align:center;

}